<!DOCTYPE html>
{% load static %}
<!--
	Be by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>C- DATA</title>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="{% static 'assets/font/css/font-awesome.min.css' %}" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link href="{% static 'assets/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl-carousel/owl.theme.css' %}" rel="stylesheet">
	
	 <link rel="stylesheet" href="{% static 'assets/css/isotope-docs.css' %}" media="screen">
	  <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.css' % }">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
		<img width="256" height="32" src="{% static 'assets/img/loading-cylon-red.svg' %}">
        </div>
    </div>
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h2> C-DATA</h2>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
						<li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="signups">Sign up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="signins">Sign in</a>
                        </li>


                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>
    <!-- =============== header =============== -->
    <header id="home" class="header">
		<!-- =============== container =============== -->
        <div class="container">
            <div class="header-content row">
				

				<div id="owl-demo" class="owl-carousel header1">
				  <div>
				  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">KEEP <span>CALM</span> AND <br/>SECURE DATA</h2>
                    <h3 class="wow bounceIn animated" data-wow-delay=".50s">YOUR DATA OUR RESPONSIBILITY </h3>

                        <a href="signups"><div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Sign up</span></i></a>
                        </div>
                    </p>
					</div>               
				</div>
				 <div>
				  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">KEEP <span>CALM</span> AND <br/>SECURE DATA</h2>
                    <h3 class="wow bounceIn animated" data-wow-delay=".50s">YOUR DATA OUR RESPONSIBILITY </h3>

                        <a href="signins"> <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Sign in</span></i> </a>
                        </div>
                    </p>
					</div>               
				</div>
				</div>				 
				</div>


                
        </div>
		<!-- =============== container end =============== -->
    </header>
    <!-- =============== About =============== -->
    <section id="about" class="">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInDown animated" data-wow-delay=".5s">
                   <h2>About Us</h2>
				   <p>Welcome to our fortress of data, where digital titans converge and bytes find sanctuary. We are the vanguards of storage, the sentinels of security, and the bastions of reliability in the tumultuous seas of cyberspace.

In an era where information reigns supreme, we stand as the bulwark against chaos, offering a haven for your most precious digital assets. <br> <br> Our infrastructure, forged in the crucible of technological prowess, stands unyielding against the onslaught of data deluge.

With a relentless commitment to excellence, we safeguard your data with layers of impenetrable encryption and fortify our defenses with the latest advancements in cybersecurity. We are not merely custodians of ones and zeros; we are guardians of trust, custodians of integrity, and stewards of your digital legacy.

					   In the vast expanse of the digital universe, where uncertainty lurks around every corner, we are the North Star guiding you through the labyrinth of data storage. Join us in our mission to secure the future, one byte at a time.</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                     <img src="{% static 'assets/img/about-img.jpg' %}"/>
                  </div>     
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>
	<section id="team" class="">
		<!-- =============== container =============== -->

		<!-- =============== container end =============== -->		
    </section>	
	<!-- =============== Services =============== -->
    <section id="Services" class="">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
			 <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" data-wow-delay=".5s">
                     <img src="{% static 'assets/img/services-img.jpg' %}" class="img-left"/>
                  </div>     
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                   <h2>Services</h2>
				   <p>We ensure that valuable information is preserved over time, safeguarding against data loss due to hardware failures, accidental deletions, or disasters. <br> <br>Our cloud storage service offers secure and scalable solutions for all your data needs. With easy access from any device, you can store, manage, and share your files effortlessly. Enjoy the peace of mind that comes with automated backups, advanced encryption, and 24/7 support. </p>
				   <p>We offer advanced tools and services to help you store, analyze, and manage large volumes of data efficiently.</p>
                  </div>
                 
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	
	<!-- =============== for box =============== -->		
	<section class="for-box">
	 <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".1s">
				<div class="for-box-crecl">
					<i class="fa fa-home"></i>
				</div>
				<div class="clr1">				
				<h2>
					PRIVACY BY <br>DESIGN
				</h2>
				</div>
				<div class="wbox">

					<p>Privacy by design involves integrating data privacy into the development of products and services from the outset, rather than as an afterthought.</p>
					<a href="#" class="clr1-a">+</a>
				</div>
				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".2s">
				<div class="for-box-crecl">
					<i class="fa fa-code"></i>
				</div>
				<div class="clr2">				
				<h2>
					Data <br>Breaches
				</h2>
				</div>
				<div class="wbox">

					<p>Data breaches can have severe consequences for organizations and individuals. Effective incident response strategies are crucial for mitigating damage. </p>
					<a class="clr2-a">+</a>
				</div>
				
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".3s">
				<div class="for-box-crecl">
					<i class="fa fa-rocket"></i>
				</div>
				<div class="clr3">				
				<h2>
					Data <br>Governance
				</h2>	
				</div>
				<div class="wbox">

					<p>Data governance involves the management of data availability, usability, integrity, and security. It is a key component of maintaining data privacy.</p>
					<a  class="clr3-a">+</a>
				</div>
			
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".4s">
				<div class="for-box-crecl">
					<i class="fa fa-wifi"></i>
				</div>
				<div class="clr4">				
				<h2>
					Privacy Risk<br>  Management
				</h2>
				</div>
				<div class="wbox">

					<p>Managing privacy risks is an ongoing process that requires identifying, assessing, and mitigating risks to data privacy for integrity, and security.</p>
					<a class="clr4-a">+</a>
				</div>
				
			</div>
		</div>
	 </div>
	</section>
	<!-- =============== Counter =============== -->
    <section class="counter">
		<!-- =============== container =============== -->

		<!-- =============== container end =============== -->		
    </section>	
    
<!-- =============== Gallery =============== -->

		<!-- =============== container =============== -->

		<!-- =============== container end =============== -->		
    </section>	

    <footer id="footer">
	<!-- =============== container =============== -->
    <div class="container">
			    <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">

					<ul class="social-links">
						<li><a class="wow fadeInUp animated" href="#" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="#" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i class="fa fa-twitter"></i></a></li>
						<li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="#" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-google-plus"></i></a></li>
						<li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="#" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="fa fa-pinterest"></i></a></li>
						<li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
					</ul>

                    <p class="copyright">
                        &copy; 2024 C-DATA. Created By ATHULYA A R
					</p>

				</div>
				<div data-wow-delay=".6s" class="col-xs-12 col-sm-6 col-md-6 wow bounceIn  animated" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">

					  <section class="widget widget_text" id="text-15">

                        <p>Tel: 01 234-56786<br>
							<br>
                        Mobile: 8848662351<br>
							<br>
                        E-mail: <a href="#" style="color:white">info@data.com</a></p>
                        </div>
                    </section>

				</div>
			</div>
    </div><!-- =============== container end =============== -->
	</footer>    
	<!-- =============== jQuery =============== -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
	 <script src="{% static 'assets/js/isotope-docs.min.js' %}"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
	<!-- =============== owl carousel =============== -->
    <script src="{% static 'assets/owl-carousel/owl.carousel.js' %}"></script>
	<!-- Isotope does NOT require jQuery. But it does make things easier -->

<script src="{% static 'assets/js/baguetteBox.js' %}" async></script>
<script src="{% static 'assets/js/plugins.js' %}" async></script>
 
    <!-- =============== Custom Theme JavaScript =============== -->
    <script src="{% static 'assets/js/creative.js' %}">	</script>
<script src="{% static 'assets/js/jquery.nicescroll.min.js' %}"></script>

<script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    $("#boxframe").niceScroll("#boxscroll3",{cursorcolor:"#0F0",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // This is an IFrame (iPad compatible)
	
    $("#boxscroll4").niceScroll("#boxscroll4 .wrapper",{boxzoom:true});  // hw acceleration enabled when using wrapper
    
  });
</script>
<script>
window.onload = function() {
    if(typeof oldIE === 'undefined' && Object.keys)
        hljs.initHighlighting();

    baguetteBox.run('.baguetteBoxOne');
    baguetteBox.run('.baguetteBoxTwo');
    baguetteBox.run('.baguetteBoxThree', {
        animation: 'fadeIn'
    });
    baguetteBox.run('.baguetteBoxFour', {
        buttons: false
    });
    baguetteBox.run('.baguetteBoxFive', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }
    });
};
</script>
</body>
</html>

